* {
    padding: 0;
    margin: 0;box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
    margin: 5vw;
    text-align: center;

}

label, input {
    height: 40px;
    line-height: 40px;
    font-size: 30px;

}

div {
    border: 2px solid black;
    font-size: 40px;
    margin: 20px;
}

.active {
    background-color: #000;
    color: #fff;
}